# SQL Interview Questions  - Quiz

## Introduction

In this lesson, we'll go through a short quiz containing the types of questions about SQL and relational databases that you can expect to see in an interview. 



## SQL Interview Questions

This quiz contains questions on topics you can expect to see in an interview pertaining to SQL and Relational Databases. Some of them are multiple choice, while some are short answer. For these short answer questions, double click on the Jupyter Notebook and type your answer below the line. 

## Question 1

what are the 4 main datatypes in SQLite3? Can we use other common types from other kinds of SQL?

Type your answer below this line:
_______________________________________________________________________________________________________________________________
The four main datatypes in SQLite3 are: 
     -> Integer: The Value is a signed integer, stored with a max of 8 bytes depending of the values
     -> Text: The value is a text string, stored using database encoding
     -> BLOP: The value is a blob, stored exactly as it was input
     -> Real: The value is a floating point.




## Question 2

Explain the relationship between **Primary Keys** and **Foreign Keys**.

Type your answer below this line:
_______________________________________________________________________________________________________________________________

The primary key is a unique identifier for a table of data.
A foreign key usually consists of one tables primary key found in another table, this is essential for connecting multiple tables of data together.  



## Question 3

Explain the different types of relationships entities can have in a SQL database. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
The different relationships that can be found in a SQL database are:
 --> one-to-one:
     As the name suggests a single entry from one table A will connect or have "a relationship" with a single entry from another table B. 
 --> one-to-many:
     Here one entry from a table A can link up to more then one entry in table B. However, one entry from table B can only have a relationship with one entry from table A. 
 --> many-to-many:
     many entries in one table A share relationships with multiple entries of another table B.


## Question 4

Explain the various types of JOINs possible with SQL. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
Assuming that A is our right table and B is our left table.
Inner join: 
 - This will joing all the records from table A and B where the join condition is met
Right Join 
 - the resulting table with Consist of all the records from table A and only the reccords from table B that matched to those from Table A. For all the values in table A that didn't have a resulting associated value in B, the null value will be applied.
Left Join: 
 - The opposite of our right join, the resulting table with have all th  elements of table B and only the element  of table A that fit met the join condition.
OUter Join:
 - The resulting table will have only have the elements from A and B tha did not not mee the join criteria.

## Question 5

Explain the relationship between Aggregate functions and GROUP BY statements.

Type your answer below this line:
_______________________________________________________________________________________________________________________________
Aggregate functions are used to calculate variables such as MEAN and Count. To this end, Group By statements are essantial in order to tell the sql command what we would likes to calculate the mean/count of. For example, if in a given table we had the exam grades for all the students in class, we would need the group by statement to differentaite whether we wanted the average grade by test, student, or total. The simple aggregate formula would not be able to return that for us without a little help.


## Question 6

What role do Associative Entities play (JOIN Tables) in many-to-many JOINs?


Type your answer below this line:
_______________________________________________________________________________________________________________________________
Associative tables are a way to break a many to many relation ship into a variety of one-to-many relationships. They serve to map out the many-to-many relationship making it easier to navigate.


## Summary

In this lesson, we practiced answering open-ended interview questions for SQL and Relational Databases.